{% extends "finance_logger/layout.html" %}
{% load static %}

{% block body %}

    <br><br><br><br>
    <h2 style="text-align: center;">Login</h2>
    <br> 

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="logForm">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <input class="btn btn-primary formButton" type="submit" value="Login">
    </form>
    </div>

    <br>
    <p style="text-align: center;">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

    <script src="{% static 'finance_logger/index.js' %}"></script>
{% endblock %}